body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    position: relative;
}

#continueGameButton {
    display: none;
}

#game {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: max-content;
    width: max-content;
    padding-bottom: 40px;
    flex-grow: 1;
}

footer {
    background-color: black;
    height: 20px;
    width: 100%;
    font-size: 15px;
    color: white;
    display: flex;
    position: absolute;
    bottom: 0;
}

#footer-left{
    margin-left: 10px;
}

#footer-right{
    margin-left: auto;
    margin-right: 10px;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

#menu {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: fit-content;
    min-height: 40px;
    width: 100%;
}

.menubutton {
    padding: 10px;
    color:white;
    background-color: black;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

.menubutton:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#stats {
    margin: 0;
    display: flex;
    flex-flow: column;
}

.statsline {
    /* width: 17.5em; */
    min-height: 20px;
    /* min-width: ; */
    text-align: right;
    font-size: 1em;
    padding: 5px;
    color: white;
}

.tile {
    width: 12vh;
    min-width: 40px;
    min-height: 40px;
    height: 12vh;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    font-size: 2em;
    background-color: transparent;
    perspective: 1000px;
}

.inner-tile {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.tile.flipped .inner-tile {
    transform: rotateY(180deg);
}

.tile-front, .tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.tile-front {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.tile-back {
    background-color: lightgoldenrodyellow;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#win {
    
    position: absolute;
    top: 40px;
    /* visibility: hidden; */
    display: flex;
    flex-flow: column;
    align-items: center;
}

#winnerText {
    text-shadow: 2px 2px black;
    background-color: transparent;
    color: gold;
    font-size: 80px;
}

#scoreForm {
    display: flex;
    gap: 10px;
}

#wonText {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
}

#scoreForm > label {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: 30px;
}

#scoreForm > input {
    font-size: 20px;
}

#scoreForm > input {
    height: 35px;
}

#saveScoreButton {
    font-size: 20px;
}

button {
    border-radius: 5px;
}

.winButton {
    margin: 10px;
    font-size: 30px;
    width: 30%;
    height: 50px;
}

#scoreboard {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    display: none; /* flex */
    align-items: center;
    flex-flow: column;
    min-height: fit-content;
    flex-grow: 1;
    min-width: fit-content;
}

#scoreTable {
    color: white;
    margin-top: 5%;
    font-size: 30px;
    width: 60vw;
    min-width: fit-content;
    text-align: center;
    border: 3px solid lightgray;
    border-collapse: collapse;
    background-color: rgb(10,10,10);
}

#scoreTable ~ tr,th,td {
    border: 3px solid lightgray;
}

td {
    min-width: fit-content;
    white-space: nowrap;
}

.first {
    color: gold;
}

.second {
    color: silver;
}

.third {
    color: rgb(205, 127, 50);
}

@media screen and (min-height: 100vw) {
    /* height is greater than width */
    .tile {
        width: 12vw;
        height: 12vw;
    }
}